@import "global.css";

/* login */

.account_form {text-align: center}
.account_form h2  {margin: 8px 0 32px 0; font-size: 24px; font-weight: 600; color: var(--black)}
.account_form .box {justify-content: center; width: 546px; padding: 36px 30px 45px 30px; margin: 0 auto; background-color: var(--bage); box-sizing: border-box;}
.account_form .box form input {width: 100%; height: 58px; border: none;}
.account_form .box form .cp-input {margin-bottom: 20px; border-radius: 5px; text-indent: 20px; font-size: 20px; font-weight: 500;}
.account_form .box form .cp-input::-webkit-input-placeholder {font-size: 20px; font-weight: 500; color: var(--placeholder);}
.account_form .box form .login-btn {margin-top: 10px; border-radius: 28px; font-size: 22px; font-weight: 500; background-color: var(--brown); color: #fff;}
.account_form .box .link {position: relative; right: 18px; margin-top: 15px;}
.account_form .box .link span {padding: 0 5px; color: var(--dark-gray)}
.account_form .box .link a {font-size: 16px; color: var(--dark-gray);}

.account_form .box form .cp-input:focus {border: 1px solid var(--brown)}

/* signup */
.account_form .box .info {margin-top: 15px; color: var(dark-gray);}
.account_form .box .info a {color: var(--brown); font-weight: 600;}

/* error */
.account_form .box form .error {border: 1px solid var(--error)}
.account_form .box form .error-message {display: block; width: 100%; text-align: center; color: var(--error); margin-bottom: 10px;}

/* profile_form */
.account_form .profile-title {font-weight: 300; margin-top: 27px;}
.account_form .profile-title strong {font-weight: 600;}

@media (min-width: 876px) {
    .sub-header div {margin-left: 328px;}
}
@media (max-width: 550px) {
    .account_form .box {width: 500px;}
}

.center div {margin: 0 auto;}
section {margin-bottom: 150px;}