@import "global.css";

body {background-color: var(--bage)}

.post-form .book-info {border-bottom: none;}

.post-form .book-intro > textarea {height: 240px; margin-bottom: 10px;}
.post-form .book-intro {margin-bottom: 10px;}

.post-form .buttons button {border: 1px solid var(--brown); color: var(--brown); background-color: var(--bage); font-size: 16px;}