@import "global.css";

body {background-color: var(--bage)}
.post-form .book-info .cp-stars {position: relative; color: #FFD600; font-size: 20px;}

.post-form .content textarea {height: 700px;}

.post-form .non-bottom {border-bottom: none; display: flex; flex-direction: row; align-items: center;}

