@import "global.css";

body {background-color: var(--bage)}
.post-form .book-info .cp-stars {position: relative; color: #FFD600; font-size: 20px;}

.post-form .content textarea {height: 700px;}

.post-form .non-bottom {border-bottom: none; display: flex; flex-direction: row; align-items: center;}

.post-form .link h4 {font-weight: bold; color: var(--black); margin-bottom: 10px;}
.post-form .link .link-section {margin-bottom: 18px;}
.post-form .link .link-section .link-input {padding: 10px; border: solid 1px var(--gray);}
.post-form .link .link-section .link-input:first-child {width: 200px;}
.post-form .link .link-section .link-input:last-child {position: relative; bottom: 1px; width: 400px;}

.post-form .publick-setting {display: flex;}
.post-form .publick-setting h4 {font-weight: bold; color: var(--black);}
.post-form .publick-setting .publick-check-btn {margin-left: 15px;}

