@import "global.css";

.banner {position: relative}
.banner .banner-img {margin-top: 90px; width: 100%; height: 434px; background-size: cover;}

.banner .profile-box {position: absolute; bottom: -120px; left: 190px; display: flex; width: 500px; height: 309px; background-color: var(--bage); padding: 30px; border-radius: 10px; box-sizing: border-box; box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.28);}
.banner .profile-box .profile-col1 {display: flex; flex-direction: column; align-items: center; margin-right: 30px;}
.banner .profile-box .profile-col1 img {width: 140px; height: 140px; margin-bottom: 40px; border-radius: 50%;}
.banner .profile-box .profile-col1 a {border: 1px solid var(--brown); color: var(--brown); padding: 7px 16px; font-weight: 600;}

.banner .profile-box .user-info {display: flex; flex-direction: column; justify-content: start; width: 100%;}
.banner .profile-box .user-info .nickname {margin: 30px 0 13px 15px; font-size: 22px; color: var(--black); font-weight: 600;}
.banner .profile-box .user-info .self-intro {margin-bottom: 10px; border: 1px solid var(--black); color: var(--black); border-radius: 3px; padding: 7px 7px; font-weight: 600; line-height: 1.3; max-height: 130px; overflow: hidden;}

.banner .profile-box .user-info .profile-setting {display: flex; align-items: center;}
.banner .profile-box .user-info .profile-setting a,
.banner .profile-box .user-info .profile-setting span {color: var(--dark-gray);}
.banner .profile-box .user-info .profile-setting span {position: relative; bottom: 2px; margin: 0 10px;}

.empty-message {display: flex; justify-content: center; align-items: center;  height: 200px;}
.empty-message div {color: var(--dark-gray); font-weight: bold;}

main .space {height: 1px; width: 100px;}

@media (max-width: 710px) {
    .banner .profile-box {left: 0;}
}

