main {position: relative; margin-top: 90px; margin-bottom: 153px;}
main .post-container {width: 1245px; margin: 0 auto;}
main .post-header {display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 200px 0 5px 0; padding-bottom: 7px; font-size: 20px; color: var(--dark-gray)}
main .post-header h2 {position: relative; top: 3px;}
main .post-header a {border: 1px solid var(--brown); color: var(--brown); padding: 7px 16px; font-weight: 600; font-size: 18px;}
main .divider {height: 1px; background-color: var(--gray)}

main .post {float: left; margin: 50px 65px 10px 65px; box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.28);}
main .clear-fix {clear: left;}
main .post .post-box {position: relative; width: 285px;}
main .post a {display: flex;}
main .post img {width: 285px; height: 436px;}
main .post .post-info {position: absolute; bottom: 0; width: 100%; height: 150px; border-radius: 5px 5px 0 0; background-color: var(--bage); padding: 15px 15px; box-sizing: border-box;}
main .post .post-info .book-title {position: relative; top: 7px; padding: 4px 10px; background-color: #fff; border: 1px solid var(--brown); color: var(--brown);}
main .post .post-info .post-title {font-size: 18px; margin-top: 25px; margin-bottom: 3px; line-height: 1.25;}
main .post .post-info .date {color: var(--dark-gray); font-size: 14px;}
main .post .post-info .rating {position: absolute; bottom: 20px; color: #FFD600; font-size: 20px;}

main .post .post-info .post-author {position: absolute; bottom: 15px; right: 15px;}
main .post .post-info .post-author .cp-avatar {position: relative; bottom: 5px; width: 50px; height: 50px; background-size: cover; background-repeat: no-repeat; border-radius: 50%; margin: 0 auto; background-position: center;}

@media (max-width: 1204px) {
    main .post-container {width: 830px;}
}

@media (max-width: 788px) {
    main .post-container {width: 415px;}
    main .post-container .post-header a {position: absolute; bottom: -20px;}
}