{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    <title>{{qna.title}} | 독서광장</title>
{% endblock %}
    
{% block style_link %}
    <link rel="stylesheet" href="{% static 'home/css/qna_detail.css'%}">
{% endblock style_link %}

{% block content %}
    <main>
        <div class="qna-header">
            <div class="qna-col1">
                <div>
                    <h2 class="title">{{qna.title}}</h2>
                    <date class="date">{{qna.create_at}}</date>
                </div>
            </div>
        </div>
        <div class="content-box">
            <p class="content">
                {{qna.title}}
            </p>
        </div>

        <div class="footer">
            <a class="back-link" href="{% url 'qnas:qna_list' %}">목록으로</a>
            <div class="buttons">
                <a class="cp-button secondary" href="#">수정</a>
                <a class="cp-button warn" href="#">삭제</a>
            </div>
        </div>
    </main>
{% endblock %}
