{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>{{qna.title}} | 독서광장</title>
{% endblock %}
    
{% block style_link %}
    <link rel="stylesheet" href="{% static 'home/css/qna_detail.css'%}">
{% endblock style_link %}

{% block content %}
    <main>
        <div class="qna-header">
            <div class="qna-col1">
                <div>
                    <h2 class="title">{{qna.title}}</h2>
                    <date class="date">{{qna.create_at}}</date>
                </div>
            </div>
        </div>
        <div class="content-box">
            <p class="content">
                {{qna.content|linebreaksbr}}
            </p>
        </div>

        <div class="answer">
            <p class="answer">
                {% for answer in qna.answers.all %}
                    <h4>{{answer.author.nickname}}</h4>
                    <p>
                        {{answer.content}}
                        {% if answer.author == user %}
                                {% csrf_token %}
                                <a href='{% url 'qnas:answer_delete' qna.id answer.id %}'>답변 삭제</a>
                        {% endif %}
                    </p>
                {% empty %}
                    <div class='empty-box'>
                        <p class='empty'>아직 답변이 없어요 :(</p>
                    </div>
                {% endfor %}
            </p>
        </div>

        <form  class='answer' method='POST'>
            {% csrf_token %}
            {{form.content|add_class:'answer-box'|attr:'placeholder:답변'}}
            <input class='answer-submit-btn' type='submit' value='답변 제출'>
        </form>

        <div class="footer">
            <a class="back-link" href="{% url 'qnas:qna_list' %}">목록으로</a>
            <div class="buttons">
                {% if qna.user == user %}
                    <a class="cp-button secondary" href="{% url 'qnas:qna_update' qna.id %}">수정</a>
                    <a class="cp-button warn" href="{% url 'qnas:qna_delete' qna.id %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
