{% extends 'home/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>Q&A | 독서광장</title>
{% endblock %}

{% block style_link %}
    <link rel="stylesheet" href="{% static 'home/css/qna_form.css' %}">
{% endblock style_link %}

{% block content %}
    <main class="post-form">
        <div class="post-header">
            <h2>Q&A</h2>
        </div>
        <form class="post-form" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="title">
                {{form.title|add_class:'cp-input'|add_error_class:'error'|attr:'placeholder:제목'}}
                {% for error in form.title.errors %}
                    <div class='error-message'>{{error}}</div>
                {% endfor %}
            </div>
            <div class="book-info">
                {{form.content_type|add_class:'book-select'}}
            </div>
            <div class="content">
                {{form.content|add_class:'cp-input'|add_error_class:'error'|attr:'placeholder:내용을 작성해 주세요'}}
                {% for error in form.title.errors %}
                    <div class='error-message'>{{error}}</div>
                {% endfor %}
            </div>
            <div class="buttons">
                <a class="cp-button" href="{% url 'qnas:qna_list' %}">돌아가기</a>
                <button class="cp-button" type="submit">제출</button>
            </div>
        </form>
    </main>
{% endblock %}


