<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A | 독서광장</title>
    <link rel="stylesheet" href="css/qna_form.css">
    <script src="js/index.js" defer></script>
</head>
<body>
    <div class="navbar">
        <a id="logo" href="index.html">
            <div class="logo-container">
                <img src="images/logo-brown.png">
                <div>독서 광장</div>
            </div>
        </a>
        <ul id="menu">
            <li><a href="#">소개</a></li>
            <li><a href="#">독서모임</a></li>
            <li><a href="#">게시글</a>
            <!-- <li><a href="#">프로필</a></li> -->
            <li class="divider"><span>|</span></li>
            <li><a href="account/login.html">로그인</a></li>
            <li><a href="#">회원가입</a></a></li>
        </ul>
        <a href="#" class="navbar-toggle">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <main class="post-form">
        <div class="post-header">
            <h2>Q&A</h2>
        </div>
        <form class="post-form" method="post" autocomplete="off">
            <div class="title">
                <input type="text" name="title" maxlength="30" placeholder="제목" class="cp-input" required>
            </div>
            <div class="book-info">
                <select class="book-select">
                    <option value="none">기타</option>
                    <option value=4>건의 사항</option>
                    <option value="1">질문</option>
                    <option value="2">오류 제보</option>
                </select>
            </div>
            <div class="content">
                <textarea name="post" cols="40" rows="10" placeholder="내용을 작성해 주세요." class="cp-input" id="id_review"></textarea>
            </div>
            <div class="buttons">
                <a class="cp-button" href="#">돌아가기</a>
                <button class="cp-button" type="submit">제출</button>
            </div>
        </form>
    </main>
    <footer class="site-footer">
        <div>READING SQUARE</div>
    </footer>
    <script src="https://kit.fontawesome.com/03a9c761b6.js" crossorigin="anonymous"></script>
</body>
</html>