{% extends 'home/base.html' %}
{% load static %}

{% block title %}
    <title>Q&A | 독서광장</title>
{% endblock title %}

{% block style_link %}
    <link rel="stylesheet" href="{% static 'home/css/qna_list.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="qna-container">
            <div class="section_1">
                <div class="post-header">
                    <h2>Q&A 게시판</h2>
                    <a href="{% url 'qnas:qna_create' %}">질문 작성</a>
                </div>
            </div>
            <div class="section_2">
                <table>
                    <tr class='bord-header'>
                        <td class="col-1">제목</td>
                        <td>작성자</td>
                        <td>등록일</td>
                    </tr>
                    {% for qna in qnas %}
                        <tr class="bord-content">
                            <td class="bord-title"><a href="{% url 'qnas:qna_detail' qna.id %}">{{qna.title}}</a></td>
                            <td class="bord-col-1">{{qna.user.nickname}}</td>
                            <td class="bord-col-2">{{qna.create_at}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="page">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href='?page=1'>first</a></li>
                    <li class='prev'><a href='?{{page_obj.previous_page_number}}'>prev</a></li>
                {% endif %}
    
                <li class="mid">{{page_obj.number}}</li>
                    <span class="mid"> of </span>
                <li class="mid">{{page_obj.paginator.num_pages}}</li>
    
                {% if page.has_next %}
                    <li class="next"><a href="?page={{ page_obj.next_page_number }}">next</a></a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">last</a></a></li>
                {% endif %}
            </ul>
        </div>
    </main>
{% endblock %}


