@import "global.css";

body {background-color: var(--bage)}
.post-form .book-info {flex-direction: row; border-bottom: none;}
.post-form .book-info .book-name,
.post-form .book-info .book-author {width: 100%;}
.post-form .book-info div:nth-child(2) {width: 30px; height: 100%;}

.post-form .content textarea {height: 300px;}

.post-form .file-content h4 {color: var(--black); font-weight: bold; font-size: 18px; margin-bottom: 15px;}
.post-form .file-content { margin: 25px 0;}
.post-form .file-content label {background-color: var(--brown); color: white; border-radius: 5px; padding: 7px 14px;}
.post-form .buttons button {border: solid 1px var(--brown); color: var(--brown); background-color: var(--bage); font-size: 16px;}